html, body {
    margin: 0;  
    padding: 0;  
    text-align: center;
    font-size: 25px;
    color: white;
}

.login-container {
    height: 200px;
    border: 2px solid #006100;
    width: 382px;  
    overflow: hidden;  
    margin: 200px auto;  
    padding: 80px;  
    background: #0b1e33;  
    border-radius: 15px;  
}

.team {
    padding: 50px;
}

div {
    cursor: pointer;
    font-size: 25px;
    display: block;
    background: white;
    border-radius: 10px;
    height: 60px;
    width: 100px;
    margin-top: 20px;
    margin-left: 150px;
}