.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-item {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}