html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.grid-container {
    color: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 75px 75px 75px 75px;
    gap: 20px;
    text-align: center;
}

.grid-item {
    background: #0b1e33;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 150%;
    line-height: 75px;
    cursor: pointer;
}

.headstyle {
    font-style: italic;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 136, 0);
    text-shadow: 1px 1px 1px #000;
}